---
import GlobalLayout from '@layouts/GlobalLayout.astro';
import { AudioControl } from '@components/JButton';
import { IoClose } from 'solid-icons/io';
import { getCollection, getEntry } from 'astro:content';
import TagList from '@components/TagList.astro';

export async function getStaticPaths() {
  const voiceEntries = await getCollection('voice');
  return voiceEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;

const tagList = entry.data.tag
  ? await Promise.all(
      entry.data.tag.map(async (tag) => {
        const tagEntry = await getEntry(tag.collection, tag.id);
        return tagEntry;
      }),
    )
  : undefined;
---

<GlobalLayout>
  <section slot="before-main" class="border-b-2 border-gray-200">
    <div class="mx-auto flex max-w-5xl flex-row-reverse items-center justify-between px-2 py-5">
      <a aria-label="閉じる" class="h-8 w-8" href="javascript:history.back()">
        <IoClose size={32} class="text-gray-500" aria-hidden="true" />
      </a>
      <div class="flex items-center gap-2 md:gap-4">
        <AudioControl slug={entry.slug} client:load />
        <h1>{entry.data.text}</h1>
      </div>
    </div>
  </section>

  <Fragment>
    {tagList && <TagList tagList={tagList} ver="voice" />}
    <iframe
      id="youtube-embed"
      width="560"
      height="315"
      src={`https://www.youtube.com/embed/${entry.data.ytid}?start=${Math.floor(entry.data.start)}`}
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    >
    </iframe>
  </Fragment>
</GlobalLayout>
