---
import '@assets/global.scss';
import 'dialog-polyfill/dialog-polyfill.css';
import { ViewTransitions } from 'astro:transitions';
import Header from '@components/global/Header.astro';
import Footer from '@components/global/Footer.astro';
import { SITE_NAME } from '@lib/constants';

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {
  title = SITE_NAME,
  description = `「${SITE_NAME}」は神椿スタジオ所属のバーチャルダークシンガーであるヰ世界情緒さんの配信である、「ヰ世界電子通信部」での台詞をボタン1つで再生可能なサイトです。`,
  ogImage = 'ogp.png',
} = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    {/* favicon */}
    <link rel="icon" sizes="32x32" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    {/* OGP */}
    <meta property="og:site_name" content={SITE_NAME} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(ogImage, Astro.site)} />
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@aboutjobjust331" />
    {/* sitemap */}
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <Header />
    <slot name="before-main" />
    <main class="j-main mx-auto max-w-5xl px-2 py-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
